@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

nav {
    background-color: black;
    height: 75px;
}

footer {
    background-color: black;
    color: white;
    padding: 150px 0 100px;
}

// utilities
// **********************************************
.row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.row-col {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.space-bwt {
    justify-content: space-between;
}

.space-evn {
    justify-content: space-evenly;
}

.wrapper {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.col-30 {
    width: 30%;
    text-align: center;
}

.btn-big {
    padding: 15px 35px;
    border-radius: 30px;
}

.btn-small {
    padding: 10px 20px;
    border-radius: 30px;
}

.blue-red-btn {
    background-color: $blueBtn;
    border: 1px solid $blueBtn;
    color: white;
}

.blue-red-btn:hover {
    background-color: $buttonRed;
    border: 1px solid $buttonRed;
    transition-duration: 0.2s;
}

.black-white-btn {
    background-color: black;
    border: 1px solid gray;
    color: $SmallTxtFontColor;
}

.black-white-btn:hover {
    background-color: white;
    border: 1px solid white;
    transition-duration: 0.2s;
    color: black;
}

.video-btn-header {
    height: 75px;
    width: 75px;
    font-size: 15px;
    margin-right: 220px;
}

.video-btn {
    background-color: white;
    color: $blueBtn;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.video-btn:hover {
    color: $buttonRed;
    transition-duration: 0.2s;
}

.active {
    color: white !important;
    font-weight: bold;

}

// effetti animazioni e over
//************************************************
.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

@keyframes animate-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}