* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

nav {
    background-color: black;
    height: 75px;
}

footer {
    background-color: black;
    color: white;
    padding: 150px 0 100px;
}

// utilities
// **********************************************
.row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.row-col {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.space-bwt {
    justify-content: space-between;
}

.wrapper {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.col-30 {
    width: 30%;
    text-align: center;
}